@import url('null.css');

.wrapper{
   min-height: 100%;
   overflow: hidden;
}

.container{
   max-width: 810px;
   margin: 0 auto;
}

body{
   font-family: 'Lato', 'sans-serif';
   font-size: 16px;
   line-height: 1.6;
   font-weight: 400;
   color: #424551;
}

.header{
   margin: 30px 0 150px 0;
   text-align: center;
  

}


.link-1{
   
   max-width: 500px;
   background: url('../img/fe_arrow-right.svg')right  no-repeat;
   padding: 0 40px 0 0;
   margin: 0 60px 0 0;
   text-transform: uppercase;
   text-shadow: 10px 10px 20px #403dfd;
   
}

.link-3{
   
   max-width: 500px;
   background: url('../img/fe_arrow-right.svg')right  no-repeat;
   padding: 0 40px 0 0;
   margin: 0 60px 0 0;
   text-transform: uppercase;
   text-shadow: 10px 10px 20px #403dfd;
   
}

.link-2{
   max-width: 500px;
   background: url('../img/fe_arrow-left.svg')left  no-repeat;
   padding: 0 40px 0 40px;
   margin: 0 80px 0 0;
   text-transform: uppercase;
   text-shadow: 10px 10px 20px #403dfd;
}


.footer{
   font-size: 30px;
   font-weight: 900;
   color: #424551;
   text-shadow: 10px 10px 20px #403dfd83;
   margin: 100px 0 0 0;
}

.block p{
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 0 0 10px 0;
   
}

h1{
   font-size: 46px;
   font-weight: 900;
   line-height: 1.3;
   color: #000000;
   margin: 0 0 40px 0;
}

.list{
   margin: 0 0 22px 0 ;
}


.list-link{
   max-width: 390px;
   line-height: 1.5;
   margin: 0 0 12px 0;
   background: url('../img/check.svg') 0 5px no-repeat;
   padding: 0 0 0 32px;
}

.button{
   color: #ffff;
   font-size: 14px;
   height: 44px;
   width: 160px;
   text-align: center;
   padding: 10px 32px;
   background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
   border-radius: 4px;
}




.link{

   max-width: 500px;
   background: url('../img/Frame\ 5.svg')right  no-repeat;
   padding: 0 40px 0 0;
   margin: 0 60px 0 0;
   text-transform: uppercase;
   text-shadow: 10px 10px 20px #403dfd;

}

h1{
   font-size: 46px;
   font-weight: 900;
   line-height: 1.3;
   color:  #1E212C;
   margin: 20px 0 26px 0;
}

.block-calendar p{
   color: #787A80;
   display: inline;
   min-height: 14px;
   padding: 0 0 0 23px;
   margin: 0 24px 0px 0;
}

.input-celendar-1{
   background-image: url('../img/Vector\ \(Stroke\).svg');
   background-repeat: no-repeat;
   background-position: left;

}

.input-celendar-2{
   background: url('../img/Clock.svg')left no-repeat;
}

.block-img{
   margin: 40px 0 60px 0;
}


.block-bolt-text{
   font-size: 20px;
   line-height: 1.6;
   font-weight: 900;
   color: #1E212C;
   margin: 0 0 24px 0;
}

.text p{
   margin: 0 0 40px 0;
}

.skobki{
   font-size: 20px;
   font-weight: 700;
   line-height: 1.5;
   color: #1E212C;
   background: url('../img/braces.svg') no-repeat;
   padding: 0 0 0 58px;
   min-height: 20px;
   margin: 0 0 48px 0;

}

.list{
   margin: 0 0 24px 0;
}
.title-list{
margin: 0 0 24px 0;
}

.item-list{
   margin: 0 0 5px 0;
   padding: 0 0 0 32px;
   background: url('../img/check.svg') 0 5px no-repeat;
}


.block-finish{
   margin: 0 0 30px 0;
}
